<div class="thumb-index well">

  <% if user %>
      <div class="btn-toolbar well-toolbar">

        <div class="btn-group">
          <%= link_to('New', {controller: :src_images, action: :new}, class: 'btn btn-success', style: 'margin-top: 0;') %>
        </div>

        <div class="btn-group">
          <button class="btn btn-default select-all">Select All</button>
          <button class="btn btn-default select-none disabled disable-none-selected enable-some-selected">Select None</button>
        </div>

        <div class="btn-group">

          <div class="input-group">
            <button class="btn btn-default add-to-set disabled disable-none-selected enable-some-selected">
              Add <span class="selected-count badge badge-info">0</span> to Set:
            </button>
            <input id="add-to-set-name" type="text"/>
          </div>

        </div>

        <% if show_remove_from_set %>
            <div class="btn-group">
              <button class="btn btn-default remove-from-set disabled disable-none-selected enable-some-selected">
                Remove <span class="selected-count badge badge-info">0</span> from Set
              </button>
            </div>
        <% end %>

        <% if show_delete %>
            <div class="btn-group">
              <button class="btn btn-danger delete-src disabled disable-none-selected enable-some-selected">
                Delete <span class="selected-count badge badge-inverse">0</span>
              </button>
            </div>
        <% end %>

      </div>
  <% end %>

  <div class="row">
    <% src_images.each do |si| %>
        <div class="col-xs-6 col-sm-3 col-md-2">
          <div class="thumbnail">
            <%= render(partial: si) %>
          </div>
        </div>
    <% end %>
  </div>

  <% if more_images %>
      <%= link_to('More images', :src_images) %>
  <% else %>
      <%= paginate(src_images) %>
  <% end %>

</div>
