<div class="thumb-index well">

  <h2>Source Images</h2>

  <% if current_user %>
      <div class="btn-toolbar">

        <div class="btn-group">
          <%= link_to 'New', {:controller => :src_images, :action => :new}, :class => 'btn btn-success' %>
        </div>

        <div class="btn-group">
          <button class="btn select-all">Select All</button>
          <button class="btn select-none disabled disable-none-selected enable-some-selected">Select None</button>
        </div>

        <div class="btn-group">

          <div class="input-prepend">
            <button class="btn add-to-set disabled disable-none-selected enable-some-selected">
              Add <span class="selected-count badge badge-info">0</span> to Set:
            </button>
            <input id="add-to-set-name" type="text"/>
          </div>

        </div>

        <% if @src_set.try(:user) == current_user %>
            <div class="btn-group">
              <button class="btn remove-from-set disabled disable-none-selected enable-some-selected">
                Remove <span class="selected-count badge badge-info">0</span> from Set
              </button>
            </div>
        <% end %>

        <div class="btn-group">
          <button class="btn btn-danger delete-src disabled disable-none-selected enable-some-selected">
            Delete <span class="selected-count badge badge-inverse">0</span>
          </button>
        </div>

      </div>
  <% end %>

  <ul class="thumbnails">
    <% @src_images.each do |si| %>
        <li>
          <div class="thumbnail">
            <%= render :partial => si %>
          </div>
        </li>
    <% end %>
  </ul>

  <% if current_page? root_url %>
      <%= link_to 'More images', :src_images %>
  <% else %>
      <%= paginate @src_images %>
  <% end %>

</div>
