<h1>Upload source image</h1>

<%= form_for @src_image, :url => {:action => 'create'} do |f| %>
    <%= f.error_messages %>

    <%= f.file_field :image %>

    <p>
      <%= f.submit 'Create', :class => 'btn' %>
    </p>
<% end %>

<h1>Load images from the web</h1>

<p>Enter one or more image URLs separated by whitespace.</p>

<textarea id="load-urls" rows="8"></textarea>

<p>
  <button class="btn" id="load-urls-button">Load</button>
</p>
