<table class="table">
  <tr>
    <th>Created</th>
    <th>ID</th>
    <th>Handler</th>
    <th>Delete</th>
  </tr>
  <% @jobs.each do |job| %>
  <tr>
    <td><%= local_time_ago(job.created_at) %></td>
    <td><%= job.id %></td>
    <td><%= job.handler %></td>
    <td><%= button_to('Delete',
      { action: :destroy, id: job.id },
      method: :delete,
      remote: true,
      data: { confirm: 'Are you sure?' },
      class: 'btn btn-danger') %></td>
  </tr>
  <% end %>
</table>
