<div class="thumb-index well">

  <% if @show_toolbar %>
      <div class="btn-toolbar well-toolbar">

        <div class="btn-group">
          <button class="btn btn-default select-all">Select All</button>
          <button class="btn btn-default select-none disabled disable-none-selected enable-some-selected">Select None</button>
        </div>

        <div class="btn-group">
          <button class="btn btn-danger delete-gend disabled disable-none-selected enable-some-selected">
            Delete <span class="selected-count badge badge-inverse">0</span>
          </button>
        </div>

      </div>
  <% end %>

  <div class="row">
    <% @gend_images.each do |gi| %>
        <div class="col-xs-6 col-sm-3 col-md-2">
          <div class="thumbnail">
            <%= render :partial => gi %>
          </div>
        </div>
    <% end %>
  </div>

  <% if current_page? root_url %>
      <%= link_to 'More images', :gend_images %>
  <% else %>
      <%= paginate @gend_images %>
  <% end %>

</div>
