<div class="thumb-index well">

  <div class="row">
    <% @src_sets.each do |ss| %>
        <div class="col-xs-2">
          <div class="thumbnail">
            <%= render :partial => ss %>
          </div>
        </div>
    <% end %>
  </div>

  <% if current_page? root_url %>
      <%= link_to 'More sets', :src_sets %>
  <% else %>
      <%= paginate @src_sets %>
  <% end %>

</div>
