<div class="thumb-index well">

  <ul class="thumbnails">
    <% @src_sets.each do |ss| %>
        <li>
          <div class="thumbnail">
            <%= render :partial => ss %>
          </div>
        </li>
    <% end %>
  </ul>

  <% if current_page? root_url %>
      <%= link_to 'More sets', :src_sets %>
  <% else %>
      <%= paginate @src_sets %>
  <% end %>

</div>
