// Place all the styles related to the GendImagePages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.meme-meta {
  margin-top: 10px;
  word-wrap: break-word;
}

a.btn {
  margin-top: 4px;
}

blockquote h1 {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.qr {
  margin: auto;
}
