img.header {
  padding-top: 10px;
  padding-bottom: 5px;
}

.footer {
  margin-top: 16px;
  margin-bottom: 32px;
}

.terminal {
  color: #fff;
  background-color: #000;
}

.terminal-date {
  color: #808080;
}

.terminal-info {
  color: #fff;
}

.terminal-error {
  color: #f00;
}
