.thumb-index .selected {
  background-color: black;
}

.under-construction {
  color: #999;
  background-color: black;
  text-align: center;
  margin: auto;
}

#load-urls {
  width: 32em;
}

.well-toolbar {
  margin-bottom: 5px;
}
