// Place all the styles related to the SrcSets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$src-set-base: #f5f5f5;

.src-set-name {
  text-align: center;
  width: 128px;
  white-space: nowrap;
  overflow: hidden;
}

.empty-set {
  width: 128px;
  height: 128px;
  background-color: black;
  color: white;
  text-align: center;
}
