<div class="under-construction"
     style="width: <%= MemeCaptainWeb::Config::ThumbSide %>px; height: <%= MemeCaptainWeb::Config::ThumbSide %>px;">
  <p><i class="icon-cogs icon-2x under-construction-icon"></i> Under Construction</p>
</div>
