<div class="under-construction"
     style="width: <%= MemeCaptainWeb::Config::ThumbSide %>px; height: <%= MemeCaptainWeb::Config::ThumbSide %>px;">
  <p>
    <i class="icon-wrench icon-3x"></i>
    <i class="icon-cogs icon-muted icon-2x"></i>

  <p>

  <p>Under Construction</p>
</div>
